# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environments
venv/
.venv/

# Environment variables
.env
.env.*

# OS
Thumbs.db
.DS_Store

# Data files (too large for git / not needed for deploy)
docs_POJK/
output_pojk.csv
output_pojk_classified.csv
*.ipynb
