# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environment
.venv/

# Environment variables
.env
.env.*

# OS
.DS_Store
Thumbs.db

# Data (tidak perlu di-track)
docs_POJK/
output_pojk.csv
output_pojk_classified.csv
*.ipynb

# Vercel
.vercel/
